<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/presets.css" type="text/css" />
    <link rel="stylesheet" href="/public/css/home.css" type="text/css" />
    <link href="../public/css/navbar.css" type="text/css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <section id="home" class="video-container">
        <%- include("../views/navbar")%>
            <video src="../public/video/bg.mp4" autoplay loop muted draggable="false"></video>
    </section>
    <section id="regions" class="nation-container">
        <div class="setsOfFour">
            <div class="nation mondstadt">
                <a href="https://www.youtube.com/watch?v=0MiIciljaWY">
                    <p>Mondstadt</p>
                    <div class="hidden">
                        <img src="../public/images/ventiUniform.png" />
                    </div>
                </a>
            </div>
            <div class="nation liyue">
                <a href="https://www.youtube.com/watch?v=0MiIciljaWY">
                    <p>Liyue</p>
                    <div class="hidden">
                        <img src="../public/images/zhongliUniform.png" />
                    </div>
                </a>
            </div>
            <div class="nation inazuma">
                <a href="https://www.youtube.com/watch?v=0MiIciljaWY">
                    <p>Inazuma</p>
                    <div class="hidden">
                        <img src="../public/images/raidenUniform.png" />
                    </div>
                </a>
            </div>
            <div class="nation sumeru">
                <p>Sumeru</p>
            </div>
        </div>
        <div class="setsOfFour">
            <div class="nation fontaine">
                <p>Fontaine</p>
            </div>
            <div class="nation natlan">
                <p>Natlan</p>
            </div>
            <div class="nation snezhnaya">
                <p>Snezhnaya</p>
            </div>
            <div class="nation khaneriah">
                <p>Khaneri'ah</p>
            </div>
        </div>
    </section>

    <audio id="the_audio" loop>
        <source src="../public/audio/2_4.mp3" type="audio/mp3">
    </audio>
</body>
<script src="../public/scripts/audio.js"></script>

</html>