<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/presets.css" type="text/css" />
    <link rel="stylesheet" href="/public/css/home.css" type="text/css" />
    <link href="../public/css/navbar.css" type="text/css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/a34aa3862d.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>

<body>
    <section id="home" class="video-container">
        <%- include("../views/navbar")%>
            <button id="bg-display" class="bg-btn" style="z-index: index 999;;">L</button>
            <video src="../public/video/bg2.mp4" id="the-vid" autoplay loop muted draggable="false"></video>
            <div class="text">
                <h1>Welcome to the World of <span class="special-text">Teyvat</span>
                </h1>
            </div>
            <div class="down">
                <i class="fas fa-angle-double-down"></i>
            </div>
    </section>
    <section id="regions" class="nation-container">
        <div class="nation mondstadt">
            <a href="https://www.youtube.com/watch?v=0MiIciljaWY" target="_blank" rel="noopener noreferrer">
                <p>Mondstadt</p>
                <div class="hidden">
                    <img src="../public/images/misc/venti780w1k.png" />
                </div>
            </a>
        </div>
        <div class="nation liyue">
            <a href="https://www.youtube.com/watch?v=wO3_S82III0" target="_blank" rel="noopener noreferrer">
                <p>Liyue</p>
                <div class="hidden">
                    <img src="../public/images/misc/zhongli780w1k.png" />
                </div>
            </a>
        </div>
        <div class="nation inazuma">
            <a href="https://www.youtube.com/watch?v=iFg-bFAu2AU" target="_blank" rel="noopener noreferrer">
                <p>Inazuma</p>
                <div class="hidden">
                    <img src="../public/images/misc/raiden780w1k.png" />
                </div>
            </a>
        </div>
        <div class="nation sumeru">
            <a href="#">
                <p>Sumeru</p>
                <img src="/public/images/misc/unreleased.png" alt="unreleased" class="unreleased">
            </a>
        </div>

        <div class="nation fontaine">
            <a href="#">
                <p>Fontaine</p>
                <img src="/public/images/misc/unreleased.png" alt="unreleased" class="unreleased">
            </a>

        </div>
        <div class="nation natlan">
            <a href="#">
                <p>Natlan</p>
                <img src="/public/images/misc/unreleased.png" alt="unreleased" class="unreleased">
            </a>

        </div>
        <div class="nation snezhnaya">
            <a href="#">
                <p>Snezhnaya</p>
                <img src="/public/images/misc/unreleased.png" alt="unreleased" class="unreleased">
            </a>

        </div>
        <div class="nation khaneriah">
            <a href="#">
                <p>Khaneri'ah</p>
                <img src="/public/images/misc/unreleased.png" alt="unreleased" class="unreleased">
            </a>
        </div>
    </section>
    <footer>
        <div class="footer-container">
            <div class="pt1">
                <img src="../public/images/others/footer.png" alt="copyright">
            </div>
            <div class="pt2">
                <p>Don't sue us, just doing this for fun</p>
                <p>Copyright © 2020 miHoYo All Rights Reserved</p>
                <a href="/privacy">Privacy</a>
            </div>

        </div>
    </footer>
    <audio id="the_audio" loop>
        <source src="../public/audio/2_4.mp3" type="audio/mp3">
    </audio>
</body>
<script src="../public/scripts/audio.js"></script>
<script>
    let bg = document.getElementById('bg-display')
    const video = document.getElementById('the-vid')
    bg.addEventListener('click', () => { changebg() })


    function changebg() {
        if (bg.innerText == "L") {
            video.classList.add('bg-aether')
            bg.innerText = "A"
        }
        else {
            video.classList.remove('bg-aether')
            bg.innerText = "L"
        }
    }
</script>

</html>