<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/presets.css" type="text/css" />
    <link rel="stylesheet" href="/public/css/home.css" type="text/css" />
    <link href="../public/css/navbar.css" type="text/css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <section id="home" class="video-container">
        <%- include("../views/navbar")%>
            <video src="../public/video/bg.mp4" autoplay loop muted draggable="false"></video>
    </section>
    <section id="regions" class="nation-container">
        <div class="mondstadt">
            <p>Mondstadt</p>
        </div>
        <div class="liyue">
            <p>Liyue</p>
        </div>
        <div class="inazuma">
            <p>Inazuma</p>
        </div>
        <div class="sumeru">
            <p>Sumeru</p>
        </div>
        <div class="fontaine">
            <p>Fontaine</p>
        </div>
        <div class="natlan">
            <p>Natlan</p>
        </div>
        <div class="snezhnaya">
            <p>Snezhnaya</p>
        </div>
        <div class="khaneriah">
            <p>Khaneri'ah</p>
        </div>
    </section>
</body>

</html>