<nav>
    <img id="nav-logo" src="../public/images/gi_logo.png">
    <ul id="nav-list">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/characters">Characters</a></li>
        <li class="nav-item"><a href="#regions">Regions</a></li>
        <li class="nav-item"><a href="#weapons">Weapons</a></li>
        <button id="volume_control" class="vol">OFF</button>
    </ul>
    <ul id="nav-list-short">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/characters">Characters</a></li>
        <li class="nav-item"><a href="#regions">Regions</a></li>
        <li class="nav-item"><a href="#weapons">Weapons</a></li>
        <button id="volume_control" class="vol">OFF</button>
    </ul>
    <button id="closeBtn" onclick="toggleNav(this)">X</button>
</nav>

<script>
    function toggleNav(btn) {
        if (document.getElementById('nav-list-short').className === "show") {
            document.getElementById('nav-list-short').className = "";
        }
        else {
            document.getElementById('nav-list-short').className = "show";
        }
    }
</script>