<nav>
    <div id="nav-logo" class="logo"><a class="home-logo" href="/"></a></div>
    <ul id="nav-list" class="nav-list">
        <li class="nav-item"><a href="/characters">Characters</a></li>
        <li class="nav-item"><a href="#regions">Regions</a></li>
        <li class="nav-item"><a href="/weapons">Weapons</a></li>
        <li class="nav-item" id="nav-enemies">
            <a>Enemies ▼</a>
            <div class="enemy-content">
                <a href="/enemies">All Enemies</a>
                <a href="/enemies/weekly_boss">Weekly Boss</a>
                <a href="/enemies/world_boss">World Boss</a>
                <a href="/enemies/elite_enemies">Elite Enemies</a>
                <a href="/enemies/common_enemies">Common Enemies</a>
            </div>
        </li>
        <li>
            <button id="volume-control" class="vol on">♪</button>
        </li>
        <li class="vol-item">
            <input id="vol-control" type="range" value="1" min="0" max="100" step="1" oninput="setVolume(this.value)"
                onchange="setVolume(this.value)"></input>
        </li>
        <button id="closeBtn" onclick="toggleNav(this)">≡</button>
    </ul>
</nav>

<script>
    function toggleNav(btn) {
        const x = document.getElementById("nav-list")
        if (!(x.className.includes("show"))) {
            x.classList.add("show")
        } else {
            x.classList.remove("show")
        }
    }

    const enemy = document.getElementById('nav-enemies');
    enemy.addEventListener('touchstart', () => enemy.classList.add('open'));
    enemy.addEventListener('touchend', () => enemy.classList.remove('open'));
</script>