<nav id="nav">
    <div id="nav-logo" class="logo"><a class="home-logo" href="/"></a></div>
    <ul id="nav-list" class="nav-list">
        <li class="nav-item"><a href="/characters">Characters</a></li>
        <li class="nav-item"><a href="#regions">Regions</a></li>
        <li class="nav-item"><a href="/weapons">Weapons</a></li>
        <li class="nav-item drop" id="nav-enemies">
            <a href="#">Enemies<span class="drop-icon">▼</span></a>
            <div class="drop-content">
                <a href="/enemies">All Enemies</a>
                <a href="/enemies/common_enemies">Common Enemies</a>
                <a href="/enemies/elite_enemies">Elite Enemies</a>
                <a href="/enemies/world_boss">World Boss</a>
                <a href="/enemies/weekly_boss">Weekly Boss</a>
            </div>
        </li>
        <li class="nav-item drop" id="nav-other">
            <a href="#">Others<span class="drop-icon">▼</span></a>
            <div class="drop-content">
                <a href="/spiral">Spiral Abyss</a>
                <a href="/#">Artifacts</a>
                <a href="/#">Drops</a>
            </div>
        </li>
        <li>
            <button id="volume-control" class="vol on">♪</button>
        </li>
        <li class="vol-item">
            <input id="vol-control" type="range" value="1" min="0" max="100" step="1" oninput="setVolume(this.value)"
                onchange="setVolume(this.value)"></input>
        </li>
        <button id="closeBtn" onclick="toggleNav(this)">≡</button>
    </ul>
</nav>

<script>
    function toggleNav(btn) {
        const x = document.getElementById("nav")
        if (!(x.className.includes("show"))) {
            x.classList.add("show")
            document.body.style.overflow = 'hidden';
        } else {
            x.classList.remove("show")
            drops.forEach(drop => {
                drop.classList.remove('open');
            })
            document.body.style.overflow = 'auto';
        }
    }

    const drops = document.querySelectorAll('.drop')
    const dropIcon = document.querySelectorAll('.drop-icon')
    const winsize = window.matchMedia("screen and (max-width: 920px)")

    navchange();
    window.addEventListener('resize', () => { navchange() });

    function open(e) {
        if (e.target !== this.firstElementChild && e.target.parentElement !== this.firstElementChild) return;
        else {
            e.preventDefault();
            if (e.currentTarget.classList.contains('open')) {
                e.currentTarget.classList.remove('open');
            } else {
                e.currentTarget.classList.add('open')
            }
        }
    }

    function navchange() {
        if (winsize.matches) {
            drops.forEach(drop => {
                drop.removeEventListener('click', open)
                drop.addEventListener('click', open)
            })
            dropIcon.forEach(icon => icon.textContent = "+")
        } else {
            document.body.style.overflow = 'auto';
            drops.forEach(drop => {
                drop.removeEventListener('click', open)
                drop.addEventListener('click', open)
            })
            dropIcon.forEach(icon => icon.textContent = "▼")
        }
    }
</script>