<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/presets.css" type="text/css" />
    <link href="../public/css/navbar.css" type="text/css" rel="stylesheet" />
    <title>Privacy Statement</title>
</head>

<body>
    <%- include("../views/navbar")%>
        <h2>
            We DO NOT collect any information from you PERIOD.
            We are Pepegas.
        </h2>
</body>

<style>
    h2 {
        color: white;
        position: relative;
        margin: 10rem auto;
        width: 75%;
        text-align: center;
    }
</style>

</html>