<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/presets.css" type="text/css" />
    <title>Document</title>
</head>
<body>
    <% spiral.map(floor => { %>
        <h1 style="color:white">Floor:<%= floor.floor %> </h1>
        <% floor.chamber_1.first_half.map(enemy => { %>
            <% const index = enemy.lastIndexOf(".") %> 
            <% const type =  enemy.substring(index + 1, enemy.length) %>
            <% const mob = enemy.substring(0, index).toLowerCase() %>  
            <img src="../public/images/enemies/<%= type %>/<%= mob %>/icon.png" alt="">
            <p style="color:white"><%= mob %> </p>
       <% }) %> 
    <% }) %> 
</body>
</html>