body {
  background: black url("/public/images/bg/visions_landscape.png") no-repeat
    fixed;
  background-size: 100vw;
  background-repeat: no-repeat;
  top: 0;
}

section {
  background: #fee5cbd7;
  width: 80%;
  margin: 10rem auto;
}

.region a {
  text-decoration: none;
  position: relative;
}

.character-container {
  width: 330px;
  outline: 2px solid black;
  padding: 0.5rem 0.5rem;
  margin: 1rem 1rem;
  background: rgba(0, 0, 0, 0.171);
}

.grid-con {
  display: flex;
  width: 320px;
  margin: 0.5rem auto;
}

.imgs,
.weps,
.elements {
  flex-basis: 100%;
}

.stars {
  display: flex;
  justify-content: center;
}

.star {
  max-width: 12.5%;
  max-height: 12.5%;
}

.char-name {
  color: black;
}

.char-icon {
  padding: 0;
  height: 80px;
}

.Pyro {
  color: #fe925d;
}

.Hydro {
  color: #21e1eb;
}

.Anemo {
  color: #72e2c3;
}

.Electro {
  color: #a757cb;
}

.Dendro {
  color: #23c18a;
}

.Cryo {
  color: #a0e9e5;
}

.Geo {
  color: #795f24;
}

@media only screen and (max-width: 380px) {
  .character-container {
    margin: 0 0;
    width: 100%;
  }
}
