nav {
  display: flex;
  background: rgba(20, 20, 61, 0.507);
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1000;
}

#nav-logo {
  width: 100px;
  height: 76px;
}

#nav-list {
  display: flex;
  width: fit-content;
  list-style-type: none;
  justify-content: space-between;
  padding: 1rem;
  margin: 0;
}

#nav-list * {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
  padding: 10px 10px;
  border-radius: 50px 50px;
}

#nav-list .nav-item a {
  margin: 0 auto;
}

#nav-list .nav-item a:hover {
  background: hsla(208, 62%, 50%);
  color: black;
}
