nav {
  display: flex;
  background: whitesmoke;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1000;
}

.logo {
  background-image: url("/public/images/gi_logo.png");
  background-position: center;
  background-size: contain;
  width: 100px;
  height: 76px;
  margin-left: 1rem;
  z-index: 999;
}

.home-logo {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
}

.nav-list {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  padding: 1rem;
  margin: 0;
}

.nav-list * {
  color: black;
  position: relative;
  text-decoration: none;
  padding: 10px 4px;
  border-radius: 20px 20px;
}

.nav-list .nav-item a {
  margin: 0 auto;
  width: fit-content;
}

.nav-list .nav-item a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: hsla(208, 62%, 50%);
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.35s ease-in;
}

#vol-control {
  width: 5rem;
}

.drop-content {
  position: absolute;
  background-color: whitesmoke;
  top: 50px;
  left: -20%;
  visibility: hidden;
  border-radius: 0;
  z-index: 1;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.05);
}

.drop-content a {
  display: block;
}

@keyframes growin {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

#vol-control {
  padding: 3px 0;
  cursor: grab;
}

.vol {
  position: relative;
  background-color: white;
  border: 1px solid black;
  font-size: 1rem;
  height: 1.6rem;
  width: 1.6rem;
  padding: 0 !important;
  cursor: pointer;
  text-align: center;
}

.vol.on {
  background-color: white;
  color: black !important;
}

.vol.on::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  width: 100%;
  border-top: 1px black solid;
  transform: rotate(45deg);
}

#closeBtn {
  display: none;
  border: none;
  font-size: 1.5rem;
  width: 50px;
  padding: 5px;
  cursor: pointer;
}

@media (hover: hover) {
  .nav-list .nav-item a:hover:before {
    transform: scaleX(1);
    color: black;
  }
}

@media (min-width: 920px){
  .drop:hover .drop-content {
      visibility: visible;
      min-width: 150px;
      animation-name: growin;
      transform-origin: top center;
      animation-duration: 0.2s;
      transition-timing-function: ease-in-out;
    }
}

@media only screen and (max-width: 920px) {
  nav {
    flex-direction: column;
  }

  .nav-list #closeBtn {
    display: block;
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    color: black;
  }

  .nav-list {
    padding: 0;
    height: 0;
    transition: height 0.2s ease-in;
  }

  .nav-list li {
    display: none;
    font-size: 1.5rem;
  }

  .show .nav-list {
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 1rem;
    height: 60vh;
    overflow: scroll;
  }

  .show li {
    display: inline;
    text-align: left;
    margin: 0;
  }

  .nav-list .nav-item a {
    margin: 0;
  }

  .show li a {
    max-width: fit-content;
  }

  #volume-control {
    margin-left: 10px;
  }

  #vol-control {
    display: none;
  }

  .drop.open .drop-content {
    visibility: visible;
    margin-top: 1rem;
    max-width: 100%;
    max-height: 300px;
  }

  .drop .drop-content {
    position: static;
    visibility: hidden;
    background: rgba(255, 255, 255, 0.5);
    top: 0;
    margin-top: 0;
    max-height: 0px;
    padding: 0;
    outline: 0;
    overflow: hidden;
    transition-property: max-height, visibility, margin-top;
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
  }

  .drop-icon {
    display: inline-block;
    padding: 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
    transform-box: fill-box;
    transform-origin: center center;
    transition: transform 0.2s;
  }

  .drop.open .drop-icon {
    transform: rotate(-135deg);
  }
}

@media only screen and (max-width: 430px) {
  .nav-list #closeBtn {
    display: block;
    position: absolute;
    right: calc(100% - 99.9vw + 1.5rem);
    top: 1rem;
    color: black;
  }
}
