nav {
  display: flex;
  background: rgba(20, 20, 61, 0.507);
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1000;
}

#nav-logo {
  width: 100px;
  height: 76px;
  margin-left: 1rem;
}

#nav-list {
  display: flex;
  width: fit-content;
  list-style-type: none;
  justify-content: space-between;
  padding: 1rem;
  margin: 0;
}

#nav-list * {
  color: white;
  text-decoration: none;
  margin-right: 2rem;
  padding: 10px 10px;
  border-radius: 50px 50px;
}

#nav-list .nav-item a{
  margin: 0 auto;
}

#nav-list .nav-item a:hover {
  background: hsla(208, 62%, 50%);
  color: black;
}

#nav-enemies{
  position:relative;
  cursor: default;
}

.enemy-content {
  display: none;
  position: absolute;
  background-color: rgba(20, 20, 61, 1);
  min-width: 150px;
  margin-top: 10px;
  border-radius: 0 !important; 
  z-index: 1;
}

.enemy-content a{
  display: block;
}

#nav-enemies:hover .enemy-content{
  display: block;
}

.vol {
  background-color: red;
  border: none;
  font-size: 1rem;
  width: 50px;
  padding:0 !important;
  cursor: pointer;
}

.vol.on {
  background-color: whitesmoke;
  color: black !important;
}

#closeBtn{
  display: none;
  border: none;
  font-size: 1rem;
  width: 50px;
  padding: 5px !important;
  cursor: pointer;
}

@media only screen and (max-width: 920px) {
  nav{
    flex-direction: column;
  }

  #nav-list #closeBtn{
    display: block;
    position: absolute;
    right: 1rem;
    top: 1rem;
    color:black;
  }

  #nav-list{
    padding: 0;
  }

  #nav-list li{
    display: none;
  }

  .show{
    width: 100vw;
    flex-direction: column;
    align-content: center !important;
    padding-left: 1rem;
  }

  .show li{
    display: inline !important;
    margin: 0 1rem;
  }

  #volume_control{
    margin-left: 10px !important;
  }
}
