<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/presets.css" type="text/css" />
    <link href="/public/css/navbar.css" type="text/css" rel="stylesheet" />
    <link href="/public/css/weapons.css" type="text/css" rel="stylesheet" />
    <script src="https://unpkg.com/boxicons@2.1.1/dist/boxicons.js"></script>
    <title>Weapons</title>
</head>

<body>
    <%- include("../navbar")%>
        <div class="content">
            <div class="swords">
                <a href="/weapons/swords">Swords</a>
                <img src="/public/images/swordchar.png" alt="sword-image">
            </div>
            <div class=" polearms">
                <a href="/weapons/polearms">Polearms</a>
                <img src="/public/images/polearmchar.png" alt="polearm-image">
            </div>
            <div class="claymores">
                <a href="/weapons/claymores">Claymores</a>
                <img src="/public/images/claymorechar.png" alt="claymore-image">
            </div>
            <div class="catalysts">
                <a href="/weapons/catalysts">Catalysts</a>
                <img src="/public/images/catalystchar.png" alt="catalyst-image">
            </div>
            <div class="bows">
                <a href="/weapons/bows">Bows</a>
                <img src="/public/images/bowchar.png" alt="bow-image">
            </div>
        </div>
        <audio id="the_audio" loop>
            <source src="../public/audio/2_4.mp3" type="audio/mp3">
        </audio>
        <script src="../public/scripts/audio.js"></script>

</body>

</html>