<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/presets.css" type="text/css" />
    <link href="../public/css/navbar.css" type="text/css" rel="stylesheet" />
    <title>Document</title>
  </head>
  <body>
    <%- include("../navbar")%>
    <% const enemies = common.reduce((enemy, {family, group, name, shorthand, drops}) => { %> 
      <% if(!enemy[family]) enemy[family] = []; %> 
      <% if(!enemy[family][group]) enemy[family][group] = {list:[],drop:[]}; %> 
      <% enemy[family][group].list.push({"name":name, "shorthand":shorthand}); %> 
      <% if(enemy[family][group].drop.length === 0) enemy[family][group].drop.push(...drops) %> 
      <% return enemy; %> 
    <% }, []) %> 
    <%- include("./container", {enemies:enemies, page:"common_enemies", folder:"common"}) %>
  </body>
 
</html>