<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/presets.css" type="text/css" />
    <link href="../public/css/navbar.css" type="text/css" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
  <%- include("../navbar")%>
  <% const enemies = elite.reduce((enemy, {family, groups, name, shorthand, drops}) => { %> 
    <% if(!enemy[family]) enemy[family] = []; %> 
    <% if(!enemy[family][groups]) enemy[family][groups] = {list:[],drop:[]}; %> 
    <% enemy[family][groups].list.push({"name":name, "shorthand":shorthand}); %> 
    <% if(enemy[family][groups].drop.length === 0) enemy[family][groups].drop.push(...drops.specific_drops) %> 
    <% return enemy; %> 
  <% }, []) %> 
  <%- include("./container", {enemies:enemies, page:"elite_enemies", folder:"elite"}) %>
</body>

</html>