<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/presets.css" type="text/css" />
    <link href="../public/css/navbar.css" type="text/css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
    <%- include("../navbar")%>
        <div class="enemy-container">
            <h1>Enemies</h1>
            <p> a Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt quibusdam harum, explicabo culpa
                sapiente ut dignissimos, impedit reiciendis dolorum nulla aspernatur temporibus quo ducimus accusamus
                autem corporis iure quod animi.</p>
            <section id="common" class="enemy-sections">
                <div class="title-container">
                    <h2>Common Enemies</h2>
                    <img src="../../public/images/enemy_1.png" alt="s">
                </div>
                <small>
                    <p>Go to: <a href="/enemies/common_enemies">Common enemies</a></p>
                </small>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed dolorum reprehenderit tempora
                    exercitationem vero, quia eius iusto laborum consequatur voluptatum ut nam deserunt est alias
                    necessitatibus? Nisi voluptatum in magnam?</p>
            </section>
            <section id="elite" class="enemy-sections">
                <div class="title-container">
                    <h2>Elite Enemies</h2>
                    <img src="../../public/images/enemy_2.png" alt="s">
                </div>
                <small>
                    <p>Go to: <a href="/enemies/elite_enemies">Elite enemies</a></p>
                </small>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores reiciendis doloremque temporibus
                    maxime consequuntur fugiat quaerat tempore aspernatur sapiente illo, aperiam qui eos saepe impedit
                    voluptate minima unde repellat corrupti!</p>
            </section>
            <section id="world" class="enemy-sections">
                <div class="title-container">
                    <h2>World Bosses</h2>
                    <img src="../../public/images/enemy_3.png" alt="s">
                </div>
                <small>
                    <p>Go to: <a href="/enemies/world_boss">World Bosses</a></p>
                </small>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate esse vitae deserunt tempore illum
                    possimus aperiam blanditiis obcaecati, est nisi repellat soluta sint odio ad quis saepe, quae optio
                    placeat?</p>
            </section>
            <section id="weekly" class="enemy-sections">
                <div class="title-container">
                    <h2>Weekly Bosses</h2>
                    <img src="../../public/images/enemy_4.png" alt="s">
                </div>
                <small>
                    <p>Go to: <a href="/enemies/weekly_boss">Weekly Bosses</a></p>
                </small>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum unde recusandae voluptate dolor
                    mollitia voluptatem, deleniti modi quam soluta fugit reprehenderit qui reiciendis omnis et doloribus
                    libero, aperiam commodi suscipit.</p>
            </section>
        </div>
</body>
<style>
    body {
        background: transparent url('/public/images/bg/abyss.png') -35rem 0;
        background-size: cover;
    }

    .enemy-container {
        margin: 7rem;
        padding: 3rem 0;
        background-color: rgba(255, 255, 255, 0.8);
    }

    h1,
    p {
        padding: 0 1.5rem;
        margin: 0 3rem;
    }

    .title-container {
        display: flex;
        padding: 0 1.5rem;
        margin: 0 3rem;
        border-bottom: 3px solid black;
        margin-top: 1rem;
    }

    .title-container h2 {
        align-self: center;
    }

    .title-container img {
        width: 150px;
    }
</style>

</html>